<h3>User Profile</h3>

<div class="row" *ngIf="profile">
   <div class="col-md-4 col-sm-12">
      <img class="thumbnail" src="{{ profile.picture }}" alt="profile picture">
   </div>
   <div class="col-md-8 col-sm-12">
      <ul class="list-group">
         <li class="list-group-item"><strong>Name:</strong> {{ profile.name }}</li>
         <li class="list-group-item"><strong>Nickname:</strong> {{ profile.nickname }}</li>
         <li class="list-group-item"><strong>Updated At:</strong> {{ profile.updated_at | date:medium }}</li>
      </ul>
   </div>
</div>
